<!DOCTYPE html>
<html>
    <head>
        <title>Panel admina (dosc prosty jak zreszta widac:)</title>
    </head>
    <body>
        <h1>Siema szefie! Co robimy?</h1>
                    <a href="{{path('user')}}">Uzytkownicy</a> &nbsp
                    <a href="{{path('permission')}}">Uprawnienia</a>

{% block panel %}{% endblock %}
    </body>
</html>
